<ion-header >
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
      <!------>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-title >Namaskar News</ion-title>
      </ion-col>
      <ion-col>

      </ion-col>
      <!------>
    </ion-row>


  </ion-grid>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>


    <ion-tab-bar slot="bottom">

      <ion-tab-button href="/home/posts">
        <ion-label>News</ion-label>
        <!--<ion-icon name="home"></ion-icon>-->
        <ion-icon name="paper-plane"></ion-icon>
        <!--<ion-badge>6</ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
